:root {
  --font-secondary: 'Raleway', sans-serif;
  --font-primary: 'Roboto', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bgc-hero-footer: #2f303a;
  --button-secondary-made: #f5f4fa;
  --secondary-color-white: #ffffff;
  --logo-color: #000000;
  --button-first-accent: #188ce8;
  --margin-content: 30px;
}
/* delite style utility */
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/* body */
body {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-primary);
  background-color: var(--secondary-color-white);
  color: var(--primary-text-color);
}
/* conteiner width 1200 */
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* conteiner section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header */
.header {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-logo-measurements {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}
.header-logo {
  color: var(--logo-color);
}
.footer-logo {
  color: var(--secondary-color-white);
}
/* nav */
.nav-main-list {
  display: flex;
  margin-left: 93px;
}
.nav-conteiner {
  display: flex;
  align-items: center;
}
.nav-main-list > .item:not(:last-child) {
  margin-right: 50px;
}
.nav-main {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts {
  display: flex;
  margin-left: auto;
}
.nav-main:hover,
.nav-main:focus {
  color: var(--accent-color);
}
.nav-main.current {
  color: var(--accent-color);
}
.item .current {
  position: relative;
}
.nav-main.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: var(--primary-text-color);
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.nav-contacts-item:not(:last-child) {
  margin-right: 50px;
  display: flex;
}
.nav-envelope {
  margin-right: 10px;
  margin: auto 10px auto auto;
  color: var(--primary-text-color);
}
.nav-envelope-tell {
  margin-right: 10px;
  color: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-envelope-tell:hover,
.nav-envelope-tell:focus {
  fill: var(--accent-color);
}
/* hero */
.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color-white);
}
.hero-width {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--bgc-hero-footer);
}
/* button */
.button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  min-width: 200px;
}
.button-primary {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-color: transparent;
  color: var(--secondary-color-white);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primary:hover,
.button-primary:focus {
  background-color: var(--button-first-accent);
}
/* bytton portfolio */
.button-portfolio {
  border-color: transparent;
  min-width: 100%;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-secondary-made);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-flex {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.button-flex > .item:not(:last-child) {
  margin-right: 8px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--secondary-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* section features */
.section-features {
  padding-top: 94px;
}
.features-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-flex {
  display: flex;
}
.features-flex .item:not(:last-child) {
  margin-right: var(--margin-content);
}
.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* section made */
.made-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.made-flex {
  display: flex;
}
.made-flex .item:not(:last-child) {
  margin-right: var(--margin-content);
}
.made-flex > .item {
  position: relative;
}
.made-position-item {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.made-position-item > .title-text {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/* section team */
.team {
  background-color: var(--button-secondary-made);
}
.title-team {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-flex {
  display: flex;
}
.team-flex > .item:not(:last-child) {
  margin-right: var(--margin-content);
}
.card-team {
  padding-top: var(--margin-content);
  padding-bottom: var(--margin-content);
  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.member-team {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.position {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.icon-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 30px;
  margin-top: 16px;
}
.icon-flex-team {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary-color-white);
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-flex-team:hover,
.icon-flex-team:focus {
  background-color: var(--accent-color);
  fill: var(--secondary-color-white);
}
.icon-team {
  width: 20px;
  height: 20px;
}
/* customer */
.customer-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.customer-icon-flex {
  display: flex;
}
.customer-icon {
  display: flex;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon-conteiner:not(:last-child) {
  margin-right: var(--margin-content);
}
.customer-logo {
  width: 106px;
  height: 60px;
}
.customer-icon:focus,
.customer-icon:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* footer */
.footer {
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--bgc-hero-footer);
}
.background-width {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
}
.footer.address {
  color: var(--secondary-color-white);
}
.footer.contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer.contacts:hover,
.footer.contacts:focus {
  color: var(--accent-color);
}
.footer-margin:not(:last-child) {
  margin-bottom: 9px;
}
.icon-footer {
  display: flex;
}
.icon-flex-footer {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-margin-footer:not(:last-child) {
  margin-right: 10px;
}
.icon-flex-footer:hover,
.icon-flex-footer:focus {
  background-color: var(--accent-color);
}
.address-flex {
  display: flex;
  align-items: baseline;
}
.icon-footer-conteiner {
  margin-left: 70px;
}
.join-footer {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color-white);
  font-style: normal;
  margin: 0 0 20px 0;
}
.footer-form {
  margin-left: 93px;
}
.footer-label {
  margin: 0 0 20px 0;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-input-button {
  display: flex;
}
.footer-input {
  background-color: #2f303a;
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-first-accent);
  outline: none;
}
.footer-icon-send {
  margin-left: 10px;
  fill: #ffffff;
}
/* page portfolio */
.title-portfolio {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.text-portfolio {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-flex .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio-set-action {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-set-action:hover,
.portfolio-set-action:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-set-border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
/* overlay portfolio*/
.portfolio-set-action:hover .thumb-text,
.portfolio-set-action:focus .thumb-text {
  transform: translateY(-100%);
}
.thumb-overlay {
  position: relative;
  overflow: hidden;
}
.thumb-text {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);

  margin: 0 auto;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-color-white);
}
/* hidden titel */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: animateScale 1000ms linear 2;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-modal {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  animation: animateRotate 1000ms linear 3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
  outline: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  animation: animateRotate 600ms linear 1;
}
.form {
  padding: 40px;
}
.form-text {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.form-label {
  display: block;
  margin: 0 0 10px 0;
}
.form-input-icon {
  position: relative;
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}
.form-text-name {
  display: block;
  margin: 0 0 4px 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--button-first-accent);
  border-radius: 4px;
  outline: auto;
  border-color: var(--button-first-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin: 0 0 20px 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.privacy {
  display: block;
  margin: 0 0 30px 0;
}
.form-icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: #2196f3;
}
.privacy-contract {
  color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-contract:hover,
.privacy-contract:focus {
  outline: none;
  color: var(--button-first-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* animation */
@keyframes animateScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animateRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.privacy::before {
  margin-right: 7px;
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-left: 12px;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-privacy:checked + .privacy::before {
  background-image: url(../images/iconcheck.svg);
  background-size: cover;
  border: 0px;
  background-color: var(--accent-color);
}
.input-privacy:focus + .privacy::before,
.input-privacy:hover + .privacy::before {
  border-color: var(--accent-color);
}
